html, body {
  height: 100%;
}
body {
  user-select: none;
  -moz-user-select: none;
  overflow: hidden;
  background-color: #fc3e32;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
}
img{
	pointer-events: none;
}
#content {
  pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
}
.row{
  border: none;
}
#round {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: all;
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: 0;

    z-index: 10;
}
#name {
  text-align: center;
  font-size: 32px;
  color: white;
}
nav {
  margin-top: 1%;
}
nav a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
}
nav a:hover {
  color: #fff;
 transition: background-color 0.1s ease-in,
    color 0.1s ease-in;
}
/*Кнопочки*/
.fa-paper-plane {
  font-size: 20px !important;
}

.fa-steam, .fa-list-ul, .fa-instagram {
  font-size: 23px !important;
}

#particles-js, .c{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
.speed-boost-1 {
  animation-duration: 500ms !important;
  animation-direction: alternate !important;
}
.speed-boost-2 {
  animation-duration: 250ms !important;

}
@keyframes bounce {
  from   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  to { transform: translateY(0); }
}


@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}


.c { 
  pointer-events: none;
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
